<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    
    <main>
        <div class="formulario">
            <h1>Consultar producto</h1>
            <div class="campo">
                <form action="" method="POST">
                    {% csrf_token %}
                    <pre>Código de producto:   <input type="number" id="id_producto" name="id_producto"></pre>

                    <button type="submit">Ingresar</button>
                </form>
            </div>
        </div>

        <div class="formulario">
            {% if producto %}
                <h2>Detalles del producto</h2>
                <p>Nombre:  {{ producto.nom_producto }}</p>
                <p>Categoria: {{ producto.categoria }}</p>
                <p>Marca: {{ producto.marca }}</p>
                <P>Precio : {{ producto.valor }}</P>
            {% endif %}
        </div>

    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>